button{
    margin-left: 10px;
    margin-right: 10px;
}

.content{
    font-size: 15px;
    margin-top: 10px;
  }
  
.col input{
    padding: 5px 10px;
    width: 70%;
}

.col select{
    padding: 5px 10px;
    width: 70%;
}

.content label{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 100px;
}

.content .col{
    display: inline-block;
    width: auto;
}

.radio-input input{
    width: auto;
    text-align: left;
}

.content > div{
    margin-top: 10px;
    margin-bottom: 10px;
}