.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.condition{
  font-size: 15px;
  margin-top: 10px;
}

.condition input{
  padding: 5px 10px;
  width: 70%;
}

.condition label{
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 100px;
}

.condition .col{
  display: inline-block;
  width: auto;
}

.condition button{
  width: 15px;
}
