<form (ngSubmit)="submitForm()">
  <div class="content">
    <div>
      <label>Product Name</label>
      <div class="col"><input type="text" name="productName" [(ngModel)]="data.productName"></div>
      <label>Quantity Per Unit</label>
      <div class="col"><input type="text" name="quantityPerUnit" [(ngModel)]="data.quantityPerUnit"></div>
      <label>Unit Price</label>
      <div class="col"><input type="text" name="unitPrice" [(ngModel)]="data.unitPrice"></div>
    </div>
    <div>
      <label>Units In Stock</label>
      <div class="col"><input type="text" name="unitsInStock" [(ngModel)]="data.unitsInStock"></div>
      <label>Units On Order</label>
      <div class="col"><input type="text" name="unitsOnOrder" [(ngModel)]="data.unitsOnOrder"></div>
      <label>Reorder Level</label>
      <div class="col"><input type="text" name="reorderLevel" [(ngModel)]="data.reorderLevel"></div>
    </div>
  
    <div>
      <label>Category</label>
      <div class="col">
        <select name="Category" [(ngModel)]="data.category">
          <option *ngFor="let item of _service.categories" value={{item.value}}>{{item.name}}</option>
        </select>
      </div>
      <label>Description</label>
      <div class="col"><input style="width:500px;" type="text" name="description" [(ngModel)]="data.description" disabled="disabled"></div>
    </div>
  
    <div>
      <label>Supplier</label>
      <div class="col">
        <select name="Supplier" [(ngModel)]="data.supplier">
          <option *ngFor="let item of _service.suppliers" value={{item.value}}>{{item.name}}</option>
        </select>
      </div>
      <label>Contact Name</label>
      <div class="col"><input type="text" name="contactName" [(ngModel)]="data.contactName" disabled="disabled"></div>
      <label>Contact Title</label>
      <div class="col"><input type="text" name="contactTitle" [(ngModel)]="data.contactTitle" disabled="disabled"></div>
    </div>

    <div>
      <div class="radio-input">
        Discontinued :
        <input type="radio" name="discontinued" [value]="true" [(ngModel)]="data.discontinued">
        <label style="text-align: left;">True</label>
        <input type="radio" name="discontinued" [value]="false" [(ngModel)]="data.discontinued">
        <label style="text-align: left;">False</label>
      </div>
    </div>
    <div style="text-align: center;">
      <button color="primary" type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
      <button color="accent" type="submit" mat-raised-button>Update</button>
    </div>
  </div>
</form>